<%- include("header.ejs")%>
<div class="space">
      <section>
            <div class="form">
                  <div class="span">
                        <a href="/signin">Sign in</a>
                        <a href="/signup">Sign up</a>
                  </div>
                  <p>Oops! You haven't signin yet</p>
            </div>
      </section>
</div>
<%- include("footer.ejs")%>