<!DOCTYPE html>
<html>
  <head>
    <title>bog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <%- include("nav.ejs")%>
    </div>