<div class="nav">
    <div class="left">
      <h1><a href="/">Bog.co</a></h1>
      <h3><a href="/categories"><i class="ri-layout-masonry-fill"></i>Categories</a></h3>
      <h3><a href="/cart"><i class="ri-shopping-cart-2-line"></i> Cart</a></h3>
      <h3><a href="/orders"><i class="ri-e-bike-2-line"></i>Orders</a></h3>
    </div>
    <div class="right">
        <span>
          <i id="searchicon" class="ri-search-line"></i>
          <input id="search" placeholder="Search here" type="search">
        </span>
      <h3><a href="/account"><i class="ri-account-pin-box-line"></i>Account</a></h3>
    </div>
  </div>





  
