<%- include("header.ejs")%>
<div class="space">
      <section>
            <div class="form">
                  <div class="span">
                       <form action="/data" method="get">
                        <p>Mob / Email :</p><input type="email,phone" placeholder="Enter here" name="user id">
                        <p style="margin-top: 50px;">Password :</p><input type="password" placeholder="Enter Pass Code" name="password">
                        <button style="background-color: rgb(189, 189, 189); padding: 5px 10px; border: solid black 1px; border-radius: 7px;">Click Here</button>
                       </form>
                  </div>
            </div>
      </section>
</div>
<%- include("footer.ejs")%>